<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, consequuntur.</p>
<p>Lorem ipsum dolor sit amet consectetur.</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i>  Login With Google</a>

{{/if}}